# Name - MAITHILI S. BIDKAR
## SALES PREDICTION USING PYTHON

### Importing all necessary libraries and algorithms

In [50]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### Reading csv file

In [51]:
ds = pd.read_csv('Advertising.csv')
ds.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

### Checking null values

In [52]:
ds.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [53]:
x = ds.iloc[:,1:4].values

In [54]:
y = ds.iloc[:,4].values

### Seperating training and testing data

In [55]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size = 0.2)

### Using Linear Regression model for prediction

In [56]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [57]:
y_P = model.predict(x_test)

In [58]:
y_P

array([ 8.41264012, 14.20749112, 12.0669706 , 17.06296928, 16.18934889,
       16.19588184,  9.06077473, 22.83523153,  4.49840306,  6.57546225,
        8.77025042, 16.24978912, 11.59129714, 21.57538789, 15.48754401,
       21.37487766, 20.94471831,  8.3981201 , 19.14319921, 18.17701237,
       16.88634096, 15.33121377, 20.82347071,  6.61397053, 13.66960504,
       13.35286139, 20.17592227, 16.06255198, 16.94609765, 15.42181786,
        8.15148537, 10.54699183,  5.38589138, 13.72858397, 15.17893595,
       12.57128162, 19.62232192, 14.79407678, 22.54396374, 13.02403082,
       16.68431418, 15.07653116, 17.63866782,  8.79923459,  7.6058917 ,
        6.02720579, 11.483826  , 20.49203849, 21.34946212,  9.98704135,
       10.31411068, 23.76235493,  4.49871899,  8.7999727 , 14.96521175,
       18.3271977 , 17.96787154, 11.9515085 ,  6.41235715, 13.53718235,
        3.61447535,  9.30830441, 15.0620691 , 14.98838417, 14.06280903,
       10.5276163 , 14.58339031, 17.15190924, 17.15780342, 13.84203725,
       16.37446529, 15.28745025, 21.44724956, 16.3168512 , 11.2210708 ,
        8.96040078, 12.14626694,  9.67984953,  8.73878468, 12.46645205,
       18.27388438, 13.26597476, 11.62236305, 20.53037868, 15.18418944,
       16.88182815, 18.99366179, 12.52476531, 14.1748079 ,  9.67328274,
       16.87912277,  3.78609482, 16.07678062,  9.63620401, 13.65529999,
       18.77554918, 23.12467988, 12.02396269, 11.59774235,  8.70246069,
       20.87233786, 14.51044691, 16.6109557 , 14.62517089,  9.96033921,
       13.78155088, 11.89735318,  6.77965805, 22.912257  ,  8.09768005,
       11.32518626,  9.73143198, 10.38529112, 14.91472533,  9.61424655,
       10.07145349, 18.09284918, 17.12309489,  8.10212665, 16.64590091,
       12.52842964, 18.69580973, 19.49224075, 19.18703207, 11.00185452,
        7.73124686, 20.88820841, 11.87138544, 20.36911477, 12.0511563 ,
       17.31543556, 22.87863032, 19.7462664 , 10.25155036, 10.6905561 ,
       15.87956604, 12.70710773, 15.36888499, 14.83304742, 12.12029433,
       20.19554036, 19.4463192 , 23.39372395, 17.5460087 , 12.66066776,
        9.90457979, 17.94165172,  9.42737854,  5.32003568, 18.99913634,
        9.86841423,  7.36199618,  7.0948257 ,  7.84109333,  6.09347157,
       20.55084881,  9.04648742, 13.08246488, 13.82782991, 10.22210306])